@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Courier New',monospace;
}

p:first-child {
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 48px;
  letter-spacing: .2rem;
}

