@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
  font-size: 14px;
}

img {
  vertical-align: bottom;
}

table {
  border-collapse: collapse;
  border:2px solid #eee
}

thead,tfoot {
  background-color: #eee;
}

th,td {
  padding: 8px;
  text-align: center;
}

tbody td:first-child {
  color: red;
}

tbody td:last-child {
  color: blue;
}

tfoot {
  font-weight: bold;
}

td.disabled {
  opacity: 0.3;
}

td.today {
font-weight: bold;
}

#prev,
#next,
#today {
  cursor: pointer;
  user-select: none;
}
