@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6f6ff;
}

main {
  width: 320px;
  margin: 16px auto 0;
  padding: 16px;
  background-color: #fff;
  text-align: center;
}

p {
  width: 100%;
  background-color: #ddd;
  font-size: 40px;
  font-family: "Courier New";
  margin: 0 auto;
  padding: 28px 0;
}

button {
  all: unset;
  display: block;
  width: 100%;
  background-color: #08c;
  color: white;
  font-weight: bold;
  padding: 16px 0;
  margin-top: 16px;
  cursor: pointer;
  transition: transform 0.5s;
}

button:hover {
  opacity: 0.7;
}

button:active {
  transform: translateY(6px);
}




.inactive {
  background-color: #ddd;
  color: #444;
  /* cursor: default; */
}

.inactive:hover {
  opacity: 1;
}