@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
}

main {
  width: 256px;
  margin: 32px auto 0;
}

.container {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  margin-top: 8px;
}

button {
  all: unset;
  cursor: pointer;
  width: 142px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  padding: 4px 0;
}

.thumbnail {
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.3;
}

.thumbnail.active {
  opacity: 1;
}